.c-cta-section {
  border-top: 2px solid $ago-orange;
  text-align: center;
}

.c-cta-section__text {
  font-family: $font-family-sans-serif;
  font-size: modular-scale(2);
  font-weight: $font-weight-semibold;
  margin-bottom: $space-medium;
}
