.c-cta-section {
  border-top: 2px solid $ago-orange;
  margin-top: $space-large;
  padding-top: $space-large;
  text-align: center;
}

.c-cta-section__text {
  font-size: modular-scale(2);
  margin-bottom: $space-medium;
}
