.c-hero__details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.c-hero__heading {
  @include margin(0 null $space-x-small);
  line-height: 1;

  &::first-line {
    font-weight: $font-weight-regular;
  }
}

.c-hero__line {
  @include margin(auto null);
  border-bottom: 2px solid $ago-orange;
  max-width: 4rem;
  width: 25%;
}

.c-hero__event-date {
  color: $ago-yellow;
  font-family: $font-family-sans-serif;
  font-size: modular-scale(2);
  font-weight: $font-weight-bold;
  line-height: 1;
  margin-top: $space-x-small;
}

.c-hero__event-location {
  @include margin(0 null auto);
  font-size: modular-scale(2);
  font-style: italic;
}

.c-hero__cta {
  margin-top: $space-x-small;
}
