.c-site-nav {
  @include padding($space-large null);
  align-items: center;
  display: flex;
  font-family: $font-family-sans-serif;

  [aria-current]:not([aria-current="false"]) {
    font-weight: $font-weight-bold;
  }
}

.c-site-nav__link {
  display: inline-block;
  text-decoration: none;

  &:not(:first-of-type) {
    margin-left: $space-medium;
  }
}

.c-site-nav__logo {
  margin-left: auto;
  max-width: 8rem;
}
