// Typography
$font-family-default: "freight-sans-pro", $font-stack-system;
$font-family-heading: $font-family-default;
$font-family-heading-alt: "freight-text-pro", $font-stack-georgia;

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$line-height-body: 1.5;
$line-height-heading: 1.2;

// Spacing
$space-xx-small: 0.25rem;
$space-x-small: 0.5rem;
$space-small: 0.75rem;
$space-medium: 1rem;
$space-large: 1.5rem;
$space-x-large: 3rem;
$space-xx-large: 6rem;

// Colors
$black: #000;
$dark-gray: #222;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;

$ago-dark-blue: #314563;
$ago-orange: #e96e47;
$ago-yellow: #f3c342;

$color-text-default: $white;
$color-text-heading: $color-text-default;
$color-text-link: $color-text-default;
$color-text-link-hover: $ago-yellow;

$viewport-background-color: $ago-dark-blue;

// Borders
$color-border-default: $light-gray;
$border-radius-default: 3px;

// Focus
$focus-outline-color: transparentize($ago-yellow, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$animation-duration-default: 1000ms;
$animation-timing-default: linear;

// Breakpoints
$medium-screen: 50em;

// Bourbon library settings
$bourbon: (
  "contrast-switch-dark-color": #000,
  "contrast-switch-light-color": #fff,
  "modular-scale-base": 1em,
  "modular-scale-ratio": $minor-third,
);
