table {
  border-collapse: collapse;
  font-family: $font-family-sans-serif;
  font-variant-numeric: lining-nums tabular-nums;
  margin: $space-medium 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: $line-height-heading;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: 1px solid color-border-default;
}

th {
  font-weight: $font-weight-bold;
}

th,
td {
  padding: $space-x-small $space-x-small $space-x-small 0;
}
