html {
  color: $color-text-default;
  font-family: $font-family-serif;
  font-size: 100%;
  font-weight: $font-weight-regular;
  line-height: $line-height-body;

  @media (min-width: 40em) {
    font-size: 106.25%;
  }

  @media (min-width: 50em) {
    font-size: 112.5%;
  }

  @media (min-width: 60em) {
    font-size: 118.75%;
  }

  @media (min-width: 80em) {
    font-size: 125%;
  }

  @media (min-width: 100em) {
    font-size: 137.5%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text-heading;
  font-family: $font-family-sans-serif;
  font-variant-numeric: lining-nums;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
  margin: 0 0 modular-scale(-6);
}

h1 {
  font-family: $font-family-serif;
  font-size: modular-scale(7);
  font-style: italic;
  font-weight: $font-weight-black;
}

h2 {
  font-size: modular-scale(4);
}

h3 {
  font-size: modular-scale(2);
}

h4,
h5,
h6 {
  font-size: modular-scale(1);
}

p {
  margin: 0;
}

a {
  color: $color-text-link;
  text-decoration-skip: ink;
  transition: color $animation-duration-default $animation-timing-default;

  &:hover {
    color: $color-text-link-hover;
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

b,
strong {
  font-weight: $font-weight-bold;
}

dt {
  color: $color-text-heading;
  font-weight: $font-weight-bold;
}

hr {
  border-bottom: 1px solid $color-border-default;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $space-medium 0;
}
