@import "bourbon";

@import "reset/normalize";

@import "../../node_modules/flickity/dist/flickity.min.css";

@import "library/variables";

@import "base/forms";
@import "base/layout";
@import "base/media";
@import "base/tables";
@import "base/typography";

@import "patterns/container";
@import "patterns/grid";
@import "patterns/section";

@import "components/advertisement";
@import "components/back-link";
@import "components/browser-notice";
@import "components/button";
@import "components/card";
@import "components/carousel";
@import "components/cta-section";
@import "components/hero";
@import "components/schedule";
@import "components/site-nav";
@import "components/vertical-nav";

@import "scopes/prose";

@import "utilities/hide-visually";
@import "utilities/line-height";
@import "utilities/list";
@import "utilities/text";
@import "utilities/widths";

// shame

.c-card {
  margin-bottom: $space-large;
}

.button-row {
  display: flex;

  .c-button {
    margin-right: 1rem;
  }
}

.location {
  font-family: $font-family-sans-serif;
  margin-bottom: $space-medium;
}
